.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 1% 10px 1.3%;
    background-color: #164863;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
    z-index: 100;
}
.logo
{
    color: aliceblue;
    font-weight: 700;
    font-size: 30px;
    margin-top: -1px;
}

.cls
{
    position: relative;
    font-size: 14px;
    font-weight: 500;
    color: aliceblue;
    margin-top: -4px;
}

.left
{
    display: flex;
    gap: 10px;
}
.logout-button {
    background-color: #ff4b5c;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .logout-button:hover {
    background-color: #ff1f3a;
    transform: scale(1.05);
  }
  
  .logout-button:active {
    background-color: #d90429;
    transform: scale(0.95);
  }
  
  .logout-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 75, 92, 0.4);
  }
  .alig{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    h5{
      margin-top: 9px;
    }
  }