/* Sidebar base styling */
.sidebar {
  background-color: white;
  min-height: 100vh; 
  width: 85px;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  left: 0;
  z-index: 10;
  transition: transform 0.3s ease-in-out;
  padding-top: 20px;
  overflow-y: auto;
}

.sidebar ul {
  list-style: none;
  padding: 0px;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar li a {
  font-size: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 5px;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  font-weight: 200;
  transition: background-color 0.3s ease-in-out;
}

.sidebar li a img {
  margin-bottom: 5px;
}

.sidebar a:hover {
  background-color: #D0E8F0;
}

li.active a {
  background-color: #D0E8F0;
}

/* Menu Icon styling */
.menu-icon {
  display: none;
  font-size: 24px;
  color: pink;
  cursor: pointer;
  padding: 10px;
  z-index: 100;
}

/* Responsive Design for Mobile */
@media (max-width: 768px) {
  /* Show menu icon on mobile */
  .menu-icon {
    display: block;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 20;
  }

  /* Hide sidebar by default on mobile */
  .sidebar {
    transform: translateX(-100%);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 150px; /* Expanded width on mobile */
    z-index: 15;
  }

  /* Sidebar open state */
  .sidebar.open {
    transform: translateX(0);
  }
}
