.below {
    background-color: #008CBA; 
    border: none;
    color: white; 
    padding: 12px 24px; 
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    font-size: 16px; 
    margin: 0px 2px 10px 2px;
    cursor: pointer; 
    border-radius: 8px; 
  }
  
  .below:hover {
    background-color: #0074A2; 
  }
  