@media (min-width: 1024px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 1280px) {
    .grid-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  .grid-item-db {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px; 
    background-color:white;
    border-radius: 40px;
    height: 450px;
  }
 .grid-item-db-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: powderblue;
    margin-bottom: 0px;
  }
  .home-grid-db {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 60px;
    width: 100%;
    max-width: 1400px;
  }
  .grid-containers {
    display: grid;
    width: 100%;
    max-width: 1400px;
    gap: 40px;
  }
  

.content-container {
    padding: 20px;
    background-color: #f0f8ff; 
    border-radius: 8px;
    max-width: 400px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  
  .content-container p {
    margin: 10px 0;
    font-size: 16px; 
    color: #333;
    line-height: 1.5; 
  }
  .content-container p:first-child,
  .content-container p:nth-child(4)
   {
    font-weight: bold; 
  }
  
  .content-container p:nth-child(3),
  .content-container p:nth-child(6) {
    color: #d9534f; 
  }
  
  .content-container p:nth-child(2),
  .content-container p:nth-child(5) {
    color: #5cb85c; 
  }

  .component{
    margin-left: 3%;
  }

  .content{
    display: flex;
  }

  .selector
  {
    display: flex;
  }