h4,h1{
    text-align: center;
}

.attendance{
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}
.attendance input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 14px;
    background-color: #f4f4f4;
    gap: 10px;
}

.attendance label{
    padding-left: 10px;
    font-size: 18px;
    gap: 10px;
}

.gh{
    background-color: #164863;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
}

.bttcnt{
    text-align: center;
    align-items: center;
}

.status {
    margin: 10px;
    background-color: white; 
    border-radius: 8px; 
    color: black;
    padding: 8px 12px; 
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: all 0.3s ease; 
  }
  
  .status:hover {
    background-color: white; 
    border-color: white;
    color: black;
  }
  
  .status:focus {
    outline: none; 
  }
  
  .status option:hover{
    background-color:pink ;
  }
.status-yr {
    margin: 10px;
    background-color: #4D4D4D; 
    border-radius: 8px; 
    color: white;
    padding: 8px 12px; 
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: all 0.3s ease; 
  }
  
  .status-yr:hover {
    background-color: #4D4D4D; 
    border-color: white;
    color: white;
  }
  
  .status-yr:focus {
    outline: none; 
  }
  
  .status-yr option:hover{
    background-color:pink ;
  }

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.contents{
  display: flex;
}