.krt {
    display: flex;
    justify-content: center;
    max-width: 600px;
    margin: 20px auto;
    align-items: center;
    background-color: #f4f4f4;
  }
  
  .hall-details-container {
    width: 50%;
    max-width: 400px;
  }
  