.event-detail {
    max-width: 700px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #f9f9f9;
  }
  
  .event-detail{
    text-align: center;
    margin-bottom: 15px;
    color: #333;
    font-size: 1.5rem;
  }
  
  .event-content {
    display: flex;
    flex-direction: column;
  }
  
  .event-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .event-item {
    display: flex;
    align-items: flex-start;
    flex: 1 1 30%;
    margin-bottom: 10px;
    font-size: 0.9rem;
    min-width: 200px;
  }
  
  .event-item .icon {
    margin-right: 8px;
    color: #007BFF;
    font-size: 1.2rem;
  }
  
  .event-item div {
    flex: 1;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  
  .event-item h4 {
    margin: 0 0 2px 0;
    color: #555;
    font-weight: bold;
    font-size: 0.9rem;
  }
  
  .event-item p {
    margin: 0;
    color: #777;
    font-size: 0.85rem;
  }
  
  .description {
    color: #999;
    font-size: 0.8rem;
  }
  
  .approvals {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    font-size: 0.9rem;
    color: #555;
  }
  
  .approval-item {
    display: flex;
    align-items: center;
  }
  
  .approval-item span {
    margin-right: 5px;
  }
  
  .approval-icon {
    color: green;
    font-size: 1rem;
  }
  