.Attendance_request {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  .send-button-container {
    margin-top: 20px;
    text-align: center;
  }

  
  .Attendance_request h5 {
    margin-bottom: 10px;
  }
  
  .Attendance_request input[type="text"],
  .Attendance_request textarea,
  .Attendance_request input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 14px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 14px;
    background-color: #f4f4f4;
    margin-top: 14px;
  }
  
  .Attendance_request textarea {
    height: 100px;
  }
  
  .Attendance_request ul {
    list-style-type: none;
    padding: 0;
  }
  
  .Attendance_request li {
    margin-bottom: 8px;
  }
  
  .Attendance_request label {
    display: block;
    cursor: pointer;
  }
  
  .Attendance_request button {
    background-color: #164863;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
    align-items: center;
  }
  
  .Attendance_request button:hover {
    background-color: #0056b3;
  }
 