.aa input{
    min-width: 600px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 14px;
    background-color: #f4f4f4;
    gap: 10px;
}

.bb{
    display: flex;
    margin-left: 20%;
    gap: 20px;
}

.bmt{
    background-color: #4CAF50; 
  border: none; 
  color: white; 
  padding: 0px 32px; 
  text-align: center; 
  text-decoration: none;
  display: inline-block; 
  font-size: 16px; 
  height: 42px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s;
}

.bmt:hover{
    background-color: #45a049;
}
.student-info {
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .student-info h2 {
    margin-top: 0;
  }
  
  .student-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .error-section {
    text-align: center;
    margin-top: 20px;
  }
  
  .error-image {
    width: 20%;
    margin-bottom: 20px;
  }
  
  .error-message h3 {
    color: #d9534f;
    margin-bottom: 10px;
  }
  
  .error-message p {
    font-size: 1.2em;
    color: #666;
  }
  
  .student-info li {
    margin-bottom: 10px;
  }
  
  .student-info span {
    font-weight: bold;
    margin-right: 10px;
  }